/* Main admin */

.main-admin{
    display: flex;
    flex-direction: column;
}

.admin-view{
    width: 100%;
}

#new-user,
#new-contact,
#new-comments,
#new-newsletter{
    background-color: gainsboro;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 45%;
}

#new-user h3,
#new-contact h3,
#new-comments h3,
#new-newsletter h3{
    display: flex;
    flex-direction: column;
}

#dashboard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    column-gap: 1rem;
    padding: 1rem;
}

#dashboard h2{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#dashboard-statistique{
    margin: 1rem 0;
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1rem;
}

@media (min-width: 640px) {
    /* .main-admin { */
        /* flex-direction: row; */
    /* } */

    .admin-nav{
        width: 100%;
    }

    .admin-nav ul{
        display: flex;
        justify-content: center;
        column-gap: .5rem;
        border-radius: 0.5rem;
        margin: 1rem 0;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }

    .admin-nav ul li{
        padding: 0.5rem;
        cursor: pointer;
    }

    .admin-nav ul li:hover{
        background-color:#f3f4f6;
    }

    /* .admin-view .admin-users-list, */
    /* .admin-view .admin-contact-list{ */
        /* width: 60%; */
    /* } */

    #new-user,
    #new-contact,
    #new-comments,
    #new-newsletter {
        width: fit-content;
    }
}

/* End Main admin */

/* Admin nav */

.admin-nav{
    padding: 0 1rem;
}

.admin-nav select{
    display: flex;
    border-radius: 0.5rem;
    margin: 1rem auto;
    width: 50%;
}

.admin-users-list,
.admin-contact-list
{
    width: 95%;
    margin: auto;
}

.admin-users-list tr:nth-child(even),
.admin-contact-list tr:nth-child(even){
    background: #f3f4f6;
}

.admin-users-list td,
.admin-contact-list td{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
} 
.admin-user-id,
.admin-contact-id{
    width: 5%;
} 

.admin-user-name{
    width: 20%;
} 
.admin-user-email{
    width: 30%;
} 
.admin-user-role,
.admin-contact-option{
    width: 10%;
    cursor: pointer;
}

.admin-users-list,
.admin-contact-list {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
    border: 1px solid #6B7280;
}

.admin-users-list>thead>tr:not(:last-child)>th,
.admin-users-list>thead>tr:not(:last-child)>td,
.admin-users-list>tbody>tr:not(:last-child)>th,
.admin-users-list>tbody>tr:not(:last-child)>td,
.admin-users-list>tfoot>tr:not(:last-child)>th,
.admin-users-list>tfoot>tr:not(:last-child)>td,
.admin-users-list>tr:not(:last-child)>td,
.admin-users-list>tr:not(:last-child)>th,
.admin-users-list>thead:not(:last-child),
.admin-users-list>tbody:not(:last-child),
.admin-users-list>tfoot:not(:last-child) {
    border-bottom: 1px solid #6B7280;
}

.admin-user-paginate{
    width: 60%;
    margin: 3rem auto;
}

.admin-nav-desktop{
    display: none;
}

.see-contact{
    width: 80%;
    margin: auto;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.05);
}

@media (min-width: 640px){
    .admin-nav select{
        display: none;
    }

    .admin-users-list {
        width: 95%;
    }

    .admin-nav-desktop {
        display: block;
    }
    
    .admin-user-paginate{
        width: 95%;
    }
}
/* END Admin nav */